<%- include("includes/head"); %>
<%- include("includes/nav"); %>

<div class="container">
    <div class="row">
        <div class="col-lg-2"></div>
    
        <div class="col-lg-8 my-3">
            <h1 class="text-center">Usuários</h1>
            <p class="text-center lead">Seus contatos estão abaixo:</p>
            <div class="responsive-table">
              <table aria-describedby="users" class="table">
                <tr>
                    <th scope="col">Nome</th>
                    <th scope="col">Sobrenome</th>
                    <th scope="col">Telefone</th>
                    <th scope="col">Email</th>
                </tr>
                <tr>
                  <td>Davi</td> 
                  <td>Ghiggino</td> 
                  <td>(21) 123456789</td>
                  <td>davighiggino@gmail.com</td>
                </tr> 
                <tr>
                  <td>Davi</td> 
                  <td>Ghiggino</td> 
                  <td>(21) 123456789</td>
                  <td>davighiggino@gmail.com</td>
                </tr> 
                <tr>
                  <td>Davi</td> 
                  <td>Ghiggino</td> 
                  <td>(21) 123456789</td>
                  <td>davighiggino@gmail.com</td>
                </tr> 
              </table>    
            </div>

        </div>

        <div class="col-lg-2"></div>
    </div>
</div>

<%- include("includes/footer"); %>